h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
}

ol, ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}


/* Bulletproof CSS3 Dropdown Navigation Menu
 * This snippet of code is freely modifiable and distributable.
 *
 * ----------------------------------------------------------------- */

nav {
  zoom: 1;
  margin: 20px auto 0 auto;
  width: auto;
  text-align: left;
  background-color: #ededed;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #CD854D, #ededed);
  background-image: -ms-linear-gradient(top, #CD854D, #ededed);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CD854D), color-stop(100%, #ededed));
  background-image: -webkit-linear-gradient(top, #CD854D, #ededed);
  background-image: -o-linear-gradient(top, #CD854D, #ededed);
  background-image: linear-gradient(top, #CD854D, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CD854D', endColorstr='#ededed', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
nav:before, nav:after {
  display: table;
  content: "";
  zoom: 1;
}
nav:after {
  clear: both;
}
nav ul {
  float: left;
  zoom: 1;
  width: auto;
 /* background: #CD854D;*/
  z-index: 100;
  border-right: 1px solid #e8e8e8;
}
nav ul:before, nav ul:after {
  display: table;
  content: "";
  zoom: 1;
}
nav ul:after {
  clear: both;
}
nav ul li {
  float: left;
  padding: 0 0 10px 0;
  position: relative;
  outline: none;
  line-height: 0.5em;
  padding: 0 1px 0 0;
  border-left: 1px solid #e8e8e8;
}
nav ul li.hasChildren a span {
  padding: 0 10px 0 0;
  background: url(http://search.freedomarchives.org/images/sprite.png);
  background-position: right top;
  background-repeat: no-repeat;
  display: block;
}
nav ul li.hasChildren a:hover span, nav ul li.hasChildren.hover a span {
  background-position: right -50px;
}
nav ul a {
  padding: 15px 20px 15px 20px;
  font-weight: bold;
  outline: none;
  float: left;
  display: block;
  zoom: 1;
}
nav ul a:link, nav ul a:visited {
  color: #000;
  text-decoration: none;
  background-color: #ededed;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #CD854D, #ededed);
  background-image: -ms-linear-gradient(top, #CD854D, #ededed);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CD854D), color-stop(100%, #ededed));
  background-image: -webkit-linear-gradient(top, #CD854D, #ededed);
  background-image: -o-linear-gradient(top, #CD854D, #ededed);
  background-image: linear-gradient(top, #CD854D, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CD854D', endColorstr='#ededed', GradientType=0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
}
nav ul a:hover, nav ul a:active {
  color: #a67b45;
  text-decoration: none;
  background-color: #ffffff;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ededed, #ffffff);
  background-image: -ms-linear-gradient(top, #ededed, #ffffff);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #ededed, #ffffff);
  background-image: -o-linear-gradient(top, #ededed, #ffffff);
  background-image: linear-gradient(top, #ededed, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff', GradientType=0);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  outline: none;
}
nav ul a:active {
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3) inset;
}
#menu li:hover > ul {
  display: block;
}
/*
#menu li:hover > a {
  color: #a67b45;
}
*/
nav li ul {
  display: none;
  margin: 0;
  position: absolute;
  top: 36px;
  left: 0px;
  width: 380px;
  border: none !important;
  padding: 2px;
  background: #CD854D;
  z-index: 1000;
  zoom: 1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
nav li ul:before, nav li ul:after {
  display: table;
  content: "";
  zoom: 1;
}
nav li ul:after {
  clear: both;
}
nav li ul a {
  float: none;
}
nav li ul li {
  width: 380px;
  display: block;
  border-top: 1px solid #cfcfcf;
  border-left: none !important;
}
nav li ul li.hasChildren a > span {
  background: url(http://azadcreative.com/demo/css3-nav-menu/images/sprite.png);
  background-position: right -97px !important;
  background-repeat: no-repeat;
}
nav li ul li.hasChildren a:hover > span, nav li ul li.hasChildren.hover > a span {
  background-position: right -138px !important;
}
.rgba nav li > ul {
  padding: 10px;
  left: -10px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
nav li ul li ul {
  display: none;
  left: 380px !important;
  top: -3px;
}
.rgba nav li ul li ul {
  top: -11px;
}
