<!DOCTYPE html>
<html lang="en" ng-app='FA_Admin'>
	<head>
		<meta charset="utf-8">
		<title>Freedom Archives Database Administration</title>
		<script type="text/javascript" src='bower_components/jquery/dist/jquery.min.js'></script>
		<script type="text/javascript" src='bower_components/jquery-ui/ui/minified/jquery-ui.min.js'></script>
		<script type="text/javascript" src='bower_components/angular/angular.min.js'></script>
		<script type="text/javascript" src='bower_components/angular-route/angular-route.min.js'></script>
		<script type="text/javascript" src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js'></script>
		<script type="text/javascript" src='bower_components/textAngular/dist/textAngular.min.js'></script>
		<script type="text/javascript" src='bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
		<script type="text/javascript" src='bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
		<script type="text/javascript" src='bower_components/angular-ui-sortable/sortable.min.js'></script>
		<script type="text/javascript" src='bower_components/angularjs-file-upload/angular-file-upload.min.js'></script>
		<script type="text/javascript" src='bower_components/angular-animate/angular-animate.min.js'></script>
		<script type="text/javascript" src='admin.js'></script>
		<script type="text/javascript" src='directives.js'></script>
		<script type="text/javascript" src='filters.js'></script>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bower_components/jquery-ui/themes/base/minified/jquery-ui.min.css">
		<link rel="stylesheet" href="bower_components/animate.css/animate.min.css">
		<link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="style.css">
	</head>
	<body resize>
		<div ng-if='!username' id='login' login></div>
		<div ng-if='username' id='container' class='container-fluid'>
			<div id='nav' class='well col-sm-2'>
				<div logout></div>	
				<h4>Collections</h4>
				<ul class='nav nav-pills nav-stacked'>
					<li>
						<ul class='nav'>
							<li><div id='sel' collection-select></div></li>
							<li nav-link action='collections/new'>New Collection</li>
							<li nav-link action='collections/top'>Manage Top-Level Collections</li>
						</ul>
					</li>
				</ul>
				<h4>Records</h4>
				<ul class='nav nav-pills nav-stacked'>
					<li nav-link action='documents/'>Manage Records</li>
					<li nav-link action='documents/new'>New Record</li>
				</ul>
				<h4>Site Management</h4>
				<ul class='nav nav-pills nav-stacked'>
					<li nav-link action='site/featuredDocs'>Home Page Featured Record</li>
					<li restricted='administrator' nav-link action='site/csvImport'>Import from CSV </li>
					<li restricted='administrator' nav-link action='site/filemakerImport'>Import from Filemaker </li>
					<li nav-link action='site/backupDatabase'>Backup Database </li>
					<li nav-link action='site/updateThumbnails'>Update Thumbnails </li>
					<li nav-link action='site/updateKeywords'>Update Keywords </li>
					<li nav-link action='site/exportCollections'>Export Collections </li>
					<li nav-link action='site/findDuplicates'>Find Duplicate Records </li>
					<li restricted='administrator' nav-link action='site/reviewChanges'>Review Changes </li>
				</ul>
			</div>
			<div messages id='messages'></div>
			<div ng-view id='content' class='fade col-xs-offset-2 col-xs-10'></div>
		</div>
	</body>
</html>
