#container {
  padding: 10px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

div.ta-editor { height: auto !important; }
textarea.ta-editor { min-height: 100px; }

#messages {margin-top: 15px; position: fixed; width: 400px; left: 50%; margin-left: -200px; z-index: 110; }

#nav { position: absolute; margin: 0px; top: 10px; bottom: 10px; overflow:auto; z-index: 1000;}

#header { 
	/*right: 0px;
	left: 16.66666667%;
	margin: 0px 15px 0px 25px;
	z-index: 100;*/
}

.bold {
  font-weight: bold;
}

#header .btn {
  margin-right: 10px;
}

.subtitle { 
  float: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#footer {
  margin-top: 20px; 
  margin-bottom: 0px;
}

#content { 
  top: 0px;
  right: 0px;
  padding-right: 0px;
}

.content-body { 
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /*padding-right: 10px;*/
}

.content-body .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

.content-body form .col-xs-6 { 
  padding-left: 0px;
  padding-right: 0px;
}

#documentEdit, #collectionEdit {
  padding-right: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#filemakerImport li { padding: 10px 0px; }

.image-input img { 
	vertical-align: top;
}

.drag-target {
	border: 3px dashed #999;
	padding: 10px;
	width: 130px;
	display: inline-block;
	margin: 0px 15px;
	vertical-align: top;
}

.bad-file {
	padding: 15px;
	width: 100px;
	display: inline-block;
	margin: 0px 15px;
	vertical-align: top;
}

.spin{
	-webkit-transform-origin: 50% 50%;
	transform-origin:50% 50%;
	-ms-transform-origin:50% 50%; /* IE 9 */
	-webkit-animation: spin 1.5s infinite linear;
	-moz-animation: spin 1.5s infinite linear;
	-o-animation: spin 1.5s infinite linear;
	animation: spin 1.5s infinite linear;
}

div[ng-view] { opacity: 1; }

div[ng-view].ng-enter {
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
	animation: fadeIn 0.5s;
}

div[ng-view].ng-leave {
	display: block !important;
    -webkit-animation: fadeOut 0.5s;
    -moz-animation: fadeOut 0.5s;
	animation: fadeOut 0.5s;
}

.tagger .label { 
	display: inline-block;
	margin-right: 3px;
	font-weight: normal;
	padding: .5em .6em;
}
.tagger input, .tagger .label {
  font-size: .9em;
  height: 28px;
}

.tagger .form-control {
	vertical-align: top;
}
.tagger .close {
	font-size: 12px;
	padding-left: 5px;
	padding-top: 1px;
}

.tagger.well {
	margin-bottom: 0px;
}

.tab-content>.scroll-container { 
  display: none; 
}

.scroll-container, .tab-content>.active {
  display: flex;
  flex-direction: column;
  flex: 1 10 auto;
  min-height: 0px;
}

.scroll-container.row {
  flex-direction: row;
}

.scroll-header, .scroll-footer { 
  flex: 0 0 auto;
}

.scroll-body { 
  flex: 1 10 auto;
  overflow: auto;
  min-height: 0px;
}

.panel { margin-bottom: 0px; }

/*form.form-inline .input-group { display: inline-block; vertical-align: middle; }*/

/*form.form-inline .form-group .input-group input, .input-group-addon, .input-group-btn { width: initial; }*/

#related_header, #related { 
  padding: 0px 15px;
  margin: 0px;
}

#related {
  max-height: 250px;
  overflow: auto;
  margin-bottom: 20px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.pagination {
  margin: 5px 0px;
}

.count { 
  padding: 10px;
}

.call-number>div {padding-left: 0px;}

.search-options .form-group { margin: 0px 5px;}

.search-options .search-filter {margin-top: 10px;}
.search-filter .panel-body { padding: 5px;}

.breadcrumb { margin: 10px 0px;}

.dropdown-menu { max-height: 200px; overflow: auto; }

td { vertical-align: middle !important; }

.logout { padding: 5px 10px; position: absolute; top: 0px; left: 0px; right: 0px; font-size: .8em; margin-bottom: 10px;}
      
.text-nowrap {white-space: nowrap;}

.related-records: {margin-bottom: 20px; }

.date-input .col-xs-4,.date-input .col-xs-3 { padding: 0px;}

.has-warning input { background-color: #FCF8E3; }


@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
